@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  background: #f8f9fa;
}
a {
  text-decoration: none;
}
.form {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 40px;
  margin-top: 20px;
  height: fit-content;
}
.btn-custom {
  background: #b30000;
  color: #fff;
  width: 150px;
  font-weight: bold;
}
.btn-custom:hover {
  background: #800000;
  color: #fff;
}
.logo {
  width: 50px;
  margin-left: 20px;
}

.sidebar {
  height: 100vh;
  background: #b30000;
  color: #fff;
  padding: 20px;
  font-weight: bold;
}

.sidebar a {
  color: #fff;
  display: block;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 10px;
}

.sidebar a:hover {
  background: #800000;
}

.card {
  border-radius: 15px;
}

.topbar {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.form-card {
  border-radius: 15px;
}